.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: #0b0d13;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo img {
  height: auto;
  width: 60%;
  margin-top: 12px;
  margin-bottom: 12px;
}
